.page>aside{
  display: none
}
.add-skills,
.add-projects,
.el-icon-circle-close-outline.remove {
  display: none;
}
.resume {
  max-width: 600px;
  margin: 0 auto;
}

.resume>.projects>ol>li {
  min-height: 100px;
  width: 600px;
  margin: 30px 0;
  padding: 0 10px;
  position: relative;
}