<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="./css/index.css">
  <link rel="stylesheet" href="./css/login.css">
  <link rel="stylesheet" href="./css/signup.css">
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
</head>

<body>
  <div class="page" id="app">
    <aside>
      <div class="upper">

        <ul class="actions">
          <li>
            <el-button @click='onClickSave' class="el-button" type="primary">保存</el-button>
          </li>
          <li>
            <el-button type="success">分享</el-button>
          </li>
          <li>
            <el-button type="warning">打印</el-button>
          </li>
          <li>
            <el-button type="info">换肤</el-button>
          </li>
        </ul>
      </div>
      <div class="down">
        <el-button type="danger" @click='onLogOut' v-show="AV.User.current()">登出</el-button>
      </div>
    </aside>
    <main>
      <div class="resume">
        <!-- 简历 -->
        <section v-cloak>
          <h1>
            <edit-span :value="resume.name" @edit="onEdit('name', $event)"></edit-span>
          </h1>
          <p class="profile">
            <edit-span :value="resume.job" @edit="onEdit('job', $event)"></edit-span>|
            <edit-span :value="resume.sex" @edit="onEdit('sex', $event)"></edit-span>|
            <edit-span :value="resume.email" @edit="onEdit('email', $event)"></edit-span>|
            <edit-span :value="resume.phone" @edit="onEdit('phone', $event)"></edit-span>
          </p>
        </section>
        <!-- 技能 -->
        <section class="skills">
          <h2>技能</h2>
          <ul>
            <li v-for="skill,index in resume.skills">
              <edit-span class="name" :value="skill.name" @edit="onEdit(`skills[${index}].name`, $event)"></edit-span>
              <div class="description">
                <edit-span :value="skill.description" @edit="onEdit(`skills[${index}].description`, $event)"></edit-span>
              </div>
              <i v-if="index>3" @click='removekills(index)' class="el-icon-circle-close-outline remove"></i>
            </li>
            <li class="add-skills">
              <el-button @click='addSkills' type="primary" size='mini'>添加</el-button>
            </li>
          </ul>
        </section>
        <!-- 项目经历 -->
        <section class="projects">
          <h2>项目经历</h2>
          <ol>
            <li v-for="project,index in resume.projects">
              <header>
                <h3 class="name">
                  <edit-span :value='project.name' @edit="onEdit(`projects[${index}].name`, $event)"></edit-span>
                </h3>
                <div class="buttom">
                  <span class="link">
                    <edit-span :value='project.link' @edit="onEdit(`projects[${index}].link`, $event)"></edit-span>
                  </span>
                  <span class="keywords">
                    <edit-span :value='project.keywords' @edit="onEdit(`projects[${index}].keywords`, $event)"></edit-span>
                  </span>
                </div>
              </header>
              <span class="descrip">
                <edit-span :value='project.descrip' @edit="onEdit(`projects[${index}].descrip`, $event)"></edit-span>
              </span>
              <i v-if="index>1" @click='removeProjects(index)' class="el-icon-circle-close-outline remove"></i>
            </li>
            <li class="add-projects">
              <el-button @click='addProjects' type="primary" size='medium'>添加</el-button>
            </li>
          </ol>
        </section>
      </div>
    </main>
    <!-- 登录 -->
    <div class="login" v-show="logInVisable" v-cloak>
      <form @submit.prevent='onLogIn'>
        <h2>登录</h2>
        <button type="button" @click="logInVisable = false">关闭</button>
        <div class="row">
          <label>邮箱</label>
          <input type="email" v-model="logIn.email" required>
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password" v-model="logIn.password" required>
        </div>
        <div class="actions">
          <button type="submit">提交</button>
          <a href="#" @click='signUpVisable=true;logInVisable = false'>注册</a>
        </div>
      </form>
    </div>
    <!-- 注册 -->
    <div class="signUp" v-show="signUpVisable" v-cloak>
      <form @submit.prevent=' onSignUp'>
        <h2>注册</h2>
        <button type="button" @click="signUpVisable = false">关闭</button>
        <div class="row">
          <label>邮箱</label>
          <input type="email" v-model="signUp.email" required>
        </div>
        <div class="row">
          <label>密码</label>
          <input type="password" v-model="signUp.password" required>
        </div>
        <div class="actions">
          <button type="submit">提交</button>
          <a href="#" @click='signUpVisable=false;logInVisable = true'>登录</a>
        </div>
      </form>
    </div>
  </div>
  <script src="../vendors/vue.min.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="../vendors/av-min.js"></script>
  <script src="./js/av.js"></script>
  <script src="./js/editSpan.js"></script>
  <script src="./js/app.js"></script>

</body>

</html>